.textArea1 {
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 5%;
    width: 40%;
    float: Left;
}

.textArea2 {
    margin-top: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    float: right;
    width: 40%;
}

.exampleTextArea {
    width: 50%;
    resize: none;
    font-size: 130%;
    align-self: center;
    color: blueviolet;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: black;
}

.navbarBtn {
    color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

.footContainer {
    background-color: #333;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.generateButton {
    background-color: #333;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 185%;
}

.iconSize {
    width: 2%;
    height: 2%;
}

.iconSize:hover {
    transform: scale(1.5);
}

.smallHeading {
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bgPanel {
    background-color: #000333;
    text-align: center;
    opacity: 75%;
}

.cropped1 {
    height: 180%;
    margin-top: -2%;
    object-fit: cover;
}

.appTitle {
    font-size: 185%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: peru;
}

.listElement {
    margin-top: 2%;
    background-color: white;
    color: #432;
    font-weight: bold;
}

.btn {
    background-color: #333;
    border: none;
    color: white;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
}

pre,
code {
    font-family: monospace, monospace;
}

pre {
    overflow: auto;
}

pre>code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: RoyalBlue;
}


/*ToolTip*/


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/*tooltip end*/