<!DOCTYPE html>
<html lang="English">

<head>
    <title>Jaspex</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Kb70at8PUa2CXaXgSnNqB_SQIujBTq2H4N3OQAOI7Q0">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>

    </style>
    <script>
        function copy() {
            let textarea = document.getElementById("codeText");
            textarea.select();
            document.execCommand("copy");

        }
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="cropped1" src="{{ url_for('static', filename='images/logoNav.PNG') }}" alt="">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active navbarBtn"><a href="#">Home</a></li>
                <li><a class="navbarBtn" href="#readme">Read me</a></li>
                <li><a class="navbarBtn" href="#contacts">Contact</a></li>
            </ul>
        </div>
    </nav>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div style="background-color: #5cdb95;">

        <p>
            <a href="#" class="pull-left">
                <img style="width: 100%;" src="{{ url_for('static',filename='images/bg2.jpg') }}" alt="Picture of a happy monkey" />
            </a>
        </p>
        <br/>
        <br/>
        <div style="width: 100%;text-align: center; margin-top: 55%;margin-bottom: 3%;">
            <div class="well well-sm bgPanel">
                <h1 style="color:aliceblue;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">Welcome to
                    <div class="appTitle">🅹🅰🆂🅿🅴🆇</div>
                </h1>
                <h3 class="smallHeading">
                    This tool will help you convert you hardcoded JSON into Apex Generator class object.
                </h3>
            </div>
            <div class="well well-sm bgPanel">
                <h3 class="smallHeading">
                    Convert Your Json Into Apex Below
                </h3>
            </div>
        </div>
        <form action="/" method="POST" class="form-group">
            {{ form.csrf_token }}
            <div class="container" style="width: 100%;position: relative;">
                <div style="text-align:center;" class="form-group">

                </div>
                <div class="smallHeading" style="margin-left: 4%;color: #432;font-weight: bold;font-size:150%;">
                    Quoted Json {{ form.quoted( style= 'transform:scale(1.5);' ) }} <a href="/quotedHelp" target="_blank"> ❓ </a>
                </div>

                <div class="smallHeading" style="margin-left: 4%;color: #432;font-weight: bold;font-size:150%;">
                    <a href="https://marketplace.visualstudio.com/items?itemName=AyuSharma-dev.jsontoapex" target="_blank"> Visual Studio Code extension </a>
                </div>

                <div class="row">
                    <div class="well col-sm-4 textArea1" style="text-align:center;">
                        <h3 class="smallHeading" style="color: #432;font-weight: bold;margin-bottom: 5%;">Paste you JSON here.</h3>
                        {{ form.jsonCode( class_='form-control', style='width: 100%;resize: none;') }}
                    </div>
                    <div class="well col-sm-4 textArea2" style="text-align:center;">
                        <div>
                            <h3 class="smallHeading" style="color: #432;font-weight: bold;display: inline-block;margin-bottom: 5%;">Copy your Apex code from here! </h3><button class="btn" onclick="copy()" type="button" style="float: right;"><i class="fa fa-copy"></i></button></div>
                        {{ form.apexCode(readonly=true, Id='codeText', class_='form-control', style='width: 100%;resize: none;') }}
                    </div>
                </div>
                <div style="text-align:center;" class="form-group">
                    <input type="submit" class="button btn-lg btn-primary generateButton" value="Generate Apex" />
                </div>
            </div>
        </form>

        <div id="readme">
            <div class="well well-sm bgPanel font-weight-bold" style="margin-top: 12%;font-size: 300%; font-weight: BOLD; font-family: Arial, Helvetica, sans-serif; color: aliceblue;">
                Why to use <kbd>JSON GENERATOR</kbd> Class?
            </div>
            <div class="bgPanel" style="text-align: left;color:black;font-size: 130%;margin: 7% 15% 7%;font-family: unset;">
                <ol class="list-group">
                    <li class="listElement list-group-item">Since the JSON encoding that's generated by Apex through the serialization method in the System.JSON class isn't identical to the standard JSON encoding in some cases, the System.JSONGenerator class is provided to enable the generation
                        of standard JSON-encoded content.</li>
                    <li class="list-group-item listElement">The System.JSONGenerator class is provided to enable the generation of standard JSON-encoded content and gives you more control on the structure of the JSON output.</li>
                    <li class="list-group-item listElement">There are less chances of having an Structure problem in your hardcoded json response if it is build using the Generator class.</li>
                    <li class="list-group-item listElement">You can check if you response is properly closed or not using generator class's function "isClosed()".</li>
                    <li class="list-group-item listElement">This class is very useful if you are creating a Mock class which uses the JSON response. So you either write whole JSON( and cover it between single inverted commas ! ) or you use Static resources method. Using the JSON generator in
                        this case will make you code look good and there are less chances of any exceptions occurrence.</li>
                    <li class="list-group-item listElement">For more information <a href="https://github.com/ayushsharma84444/jaspex" target="_blank">read</a>.</li>
                </ol>
            </div>
        </div>
        <div style="text-align: center;">
            <img style="width: 50%;margin-bottom:5%" src="{{ url_for('static',filename='images/happyCoding.jpg') }}" alt="Picture of a happy monkey" />
        </div>
        <div id="contacts" class="container footContainer">
            <div style="margin-top: 1%">
                <div class="panel panel-default bgPanel">
                    <div class="panel-heading ">
                        <h3 class="smallHeading" style="color: #432;font-weight:bold">About</h3>
                    </div>
                    <div class="panel-body">

                        <div style="color:white;font-family: Arial, Helvetica, sans-serif;">
                            <h4>Written By Ayush Sharma.
                                <a href="https://twitter.com/AyushSh06594329" target="_blank"><img class="iconSize" src="https://abs.twimg.com/favicons/twitter.ico" height="20px" alt="LinkedIn"></a>
                                <a href="https://www.linkedin.com/in/ayush-sharma-%E2%98%81-75b55613a/" target="_blank">
                                    <img class="iconSize" src="https://static-exp1.licdn.com/sc/h/1bt1uwq5akv756knzdj4l6cdc" height="20px" alt="LinkedIn"></a>
                                <a href="https://trailhead.salesforce.com/en/me/005500000084eNoAAI" target="_blank">
                                    <img class="iconSize" src="http://www.salesforce.org/wp-content/uploads/2015/09/trailhead-logo.png" height="20px" alt="Trailhead">
                                </a>
                            </h4>

                        </div>

                        <div style="color:white;font-family: Arial, Helvetica, sans-serif;">
                            <h4>Fork me on Github.
                                <a href="https://github.com/ayushsharma84444/jaspax" target="_blank">
                                    <img class="iconSize CToWUd" src="https://github.com/fluidicon.png" height="20px" alt="Github">
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>